<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TuneBuild</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="assets/css/index.css">
</head>

<body>
  <section id="section-1">
    <div class="hero">
      <h1 id="title">
        <span style="color: #F86642;">Revolutionize</span> Your Music Experience <br />
        With Curated Playlists <span style="color: #F86642;">Tailored</span> To You.
      </h1>
      {% block content2 %}{% endblock %}
      <div class="title-button">
        {% block content %}{% endblock %}
      </div>
      <div class="img-flower">
        <img src="assets/images/flower.svg" alt="">
      </div>
    </div>
  </section>

  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModalBtn">&times;</span>
      <p>Weclome to TuneBuild! </p>

      <p>For a walkthrough, watch the demo:</p>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/r6SXL31N6sg?si=1bQj4xCLhlu-ZRdz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
    </div>
  </div>

  <footer>
    <div class="how-to-use">
      <p> How To Use </p>
      <div class="img-spark" id="openModalBtn">
        <img src="assets/images/spark.svg" alt="">
      </div>
    </div>
    <p> Project by Daniel</p>
    <a href="">
      <img src="assets/images/linkedin.svg" alt="">
    </a>
  </footer>

  <script src="assets/js/script.js"></script>
</body>

</html>